USE [master]
GO
/****** Object:  Database [ssportaldb]    Script Date: 3/18/2025 12:43:51 PM ******/
CREATE DATABASE [ssportaldb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ssportaldb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\ssportaldb.mdf' , SIZE = 25600KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ssportaldb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\ssportaldb_log.ldf' , SIZE = 10176KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ssportaldb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ssportaldb]
GO
/****** Object:  User [ssportal]    Script Date: 3/18/2025 12:43:51 PM ******/
CREATE USER [ssportal] FOR LOGIN [ssportal] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [ssportal]
GO
/****** Object:  Table [dbo].[Alarms]    Script Date: 3/18/2025 12:43:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Alarms](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Severity] [varchar](20) NULL,
	[Node] [varchar](20) NULL,
	[Event_Time] [smalldatetime] NULL,
	[Fault] [varchar](250) NULL,
	[Description] [varchar](1000) NULL,
	[Comment] [varchar](250) NULL,
	[Status] [varchar](20) NULL,
	[UnitID] [smallint] NULL,
	[Owner] [varchar](20) NULL,
	[Week] [tinyint] NULL,
	[Year] [smallint] NULL,
	[Update_date] [datetime] NULL,
	[Ticket] [varchar](20) NULL,
	[Modifies] [char](1) NULL,
	[Updated_By] [varchar](20) NULL,
 CONSTRAINT [PK_Alarms] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Alarms_copy]    Script Date: 3/18/2025 12:43:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Alarms_copy](
	[ID] [int] NOT NULL,
	[Severity] [varchar](20) NULL,
	[Node] [varchar](20) NULL,
	[Event_Time] [datetime2](7) NULL,
	[Fault] [varchar](250) NULL,
	[Description] [varchar](1000) NULL,
	[Comment] [varchar](250) NULL,
	[Status] [varchar](20) NULL,
	[UnitID] [smallint] NULL,
	[Owner] [varchar](20) NULL,
	[Week] [tinyint] NULL,
	[Year] [smallint] NULL,
	[Update_date] [datetime] NULL,
	[Ticket] [varchar](20) NULL,
	[Modifies] [char](1) NULL,
	[Updated_By] [varchar](20) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Nodes]    Script Date: 3/18/2025 12:43:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Nodes](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](20) NOT NULL,
	[Owner] [varchar](50) NULL,
	[Region] [varchar](50) NULL,
	[Location] [varchar](50) NULL,
	[Type] [varchar](20) NULL,
 CONSTRAINT [PK_Nodes] PRIMARY KEY CLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Units]    Script Date: 3/18/2025 12:43:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Units](
	[ID] [smallint] NOT NULL,
	[Name] [varchar](100) NOT NULL,
	[Description] [varchar](250) NULL,
 CONSTRAINT [PK_Units] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Users]    Script Date: 3/18/2025 12:43:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Users](
	[Name] [varchar](50) NOT NULL,
	[Region] [varchar](50) NULL,
	[Role] [varchar](50) NULL,
	[Alternate] [varchar](50) NULL,
	[Full_Name] [varchar](50) NULL,
	[Unit] [varchar](50) NULL,
	[Sub_Unit] [varchar](50) NULL,
	[Unit_Supervised] [varchar](50) NULL,
	[Sub_Unit_Supervised] [varchar](50) NULL,
	[Location] [varchar](50) NULL,
	[Last_Logon] [varchar](50) NULL,
	[Authentication] [varchar](50) NULL,
	[Code] [varchar](50) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Index [IX_Units]    Script Date: 3/18/2025 12:43:52 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Units] ON [dbo].[Units]
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Alarms]  WITH CHECK ADD  CONSTRAINT [FK_Alarms_Units] FOREIGN KEY([UnitID])
REFERENCES [dbo].[Units] ([ID])
GO
ALTER TABLE [dbo].[Alarms] CHECK CONSTRAINT [FK_Alarms_Units]
GO
ALTER TABLE [dbo].[Alarms]  WITH CHECK ADD  CONSTRAINT [FK_Alarms_Units_copy] FOREIGN KEY([UnitID])
REFERENCES [dbo].[Units] ([ID])
GO
ALTER TABLE [dbo].[Alarms] CHECK CONSTRAINT [FK_Alarms_Units_copy]
GO
USE [master]
GO
